<footer class="bk1:mx-12 h-[10vh] shrink-0">
    <hr  class="m-2 opacity-25">
    <nav class="px-2 sm:px-4 py-2.5 flex justify-between" >  
      <include src="./components/nombre.html"></include>
      <div class="flex items-center w-full justify-center">
        <ul class="flex items-center w-full justify-around text-gray text-sm bk1:text-xl">
          <li class="pr-1 hover:text-black">
            <a href="./index.html">AC/BC<span class="sr-only">(current)</span></a>
          </li>
          <li class="pr-1 hover:text-black">
            <a href="./miembros.html">Miembros</a>
          </li>
          <li class="pr-1 hover:text-black">
            <a href="#">Normativa</a>
          </li>
          <li class="pr-1 hover:text-black">
            <a href="#">Contacto</a>
          </li>
        </ul>
      </div>
      <include src="./components/rrss.html"></include>
      </nav>
</footer>