<footer>
    <hr  class="m-2">
    <nav class="px-2 sm:px-4 py-2.5 flex justify-between" >  
        <a class="flex items-center text-black text-xl min-w-max" href="./index.html">
          AC
          <img src="./assets/images/rayo.svg" width="30" height="30" class="d-inline-block align-baseline" alt="">
          BC
        </a> 

        <div class="flex items-center w-full justify-center">
          <ul class="flex items-center w-full justify-around text-gray ">
            <li class="pr-1 hover:text-black">
              <a href="./index.html">AC/BC<span class="sr-only">(current)</span></a>
            </li>
            <li class="pr-1 hover:text-black">
              <a href="./miembros.html">Miembros</a>
            </li>
          </ul>
        </div>
        <div class="flex items-center">
            <ul class="flex items-center">
                <li>
                    <a href="#">
                        <img src="./assets/images/google.svg" width="30" height="30" alt="">
                    </a> 
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="./assets/images/facebook.svg" width="30" height="30"  alt="">
                    </a> 
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                        <img src="./assets/images/twitter.svg" width="30" height="30" alt="">
                    </a> 
                </li>
              </ul>
        </div>
      </nav>
</footer>