<header>
  <nav class="px-2 sm:px-4 py-2.5 flex justify-between" >  
    <a class="flex items-center text-black text-xl min-w-max" href="./index.html">
      AC
      <img src="./assets/images/rayo.svg" width="30" height="30" alt="">
      BC
    </a> 
  
    <div class="w-full flex justify-end">
      <ul class="text-gray w-1/2 text-base flex justify-evenly">
        <li class="hover:text-black">
          <a class="" href="./miembros.html">Miembros</a>
        </li>
        <li class="hover:text-black">
          <a href="#">Normativa</a>
        </li>
        <li class="hover:text-black">
          <a href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header> 