<header class="bk1:mx-12 h-[10vh] shrink-0">
  <nav class="px-2 sm:px-4 py-5 flex justify-between" >  
    <include src="./components/nombre.html"></include>
    <div class="w-full flex justify-end">
      <ul class="text-gray w-1/2 text-base bk1:text-xl flex justify-evenly">
        <li class="hover:text-black">
          <a class="" href="./miembros.html">Miembros</a>
        </li>
        <li class="hover:text-black">
          <a href="#">Normativa</a>
        </li>
        <li class="hover:text-black">
          <a href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header> 