<div class="flex items-center min-w-max">
    <ul class="flex items-center h-full">
        <li class="h-full">
            <a class="" href="#">
                <img src="../src/assets/images/google.svg" width="30" height="30" class="max-w-none" alt="">
            </a> 
        </li>
        <li class="h-full">
            <a class=""  href="#">
                <img src="../src/assets/images/facebook.svg" width="30" height="30" class="max-w-none" alt="">
            </a> 
        </li>
        <li class="h-full">
            <a class="" href="#">
                <img src="../src/assets/images/twitter.svg" width="30" height="30" class="max-w-none" alt="">
            </a> 
        </li>
      </ul>
</div>